:block(main) {
    height:40%;
    width: 100%;
    display: table;

    &:block(main):mod(transition-height) {
        transition: height .75s ease-in-out
    }
}

:block(main):mod(full) {
    height:100%;
}

:block(main):elem(inner){
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}


