.main {
    height:40%;
    width: 100%;
    display: table;
}

.main_full {
    height:100%
}

.main__inner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.main.main_transition-height {
    transition: height .75s ease-in-out
}
