:block(headline)
{
    text-align: center;
}

@keyframes headline-fade-in-down
{
    0%
    {
        transform: translateY(-20px);

        opacity: 0;
    }

    100%
    {
        transform: translateY(0);

        opacity: 1;
    }
}
