:block(footer) {
    position: relative;
    margin-top: -10px;
    background: #fff;
    border-top: 1px solid #ccc;
    text-align: center;
    line-height: 42px;

    :block(link) {
        margin: 0 10px;
        text-decoration: none;
        color: #616161;
    }

}

