.sssr__more {
    cursor: pointer;
    position: fixed;
    z-index: 1;
    width: 3.3em;
    height: 3.3em;
    background-color: #FFE3DB;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    /*visibility: hidden;*/
    /*opacity: 0;*/
    transition: opacity 0.25s ease-out;
    right: 30px;
    bottom: 2%;
    backface-visibility: hidden;

    transition: bottom 0.8s ease-out, transform 0.25s ease-out, opacity 0.25s ease-out;
}

.sssr__more-arrow {
    display: block;
    visibility: visible;
    font-family: 'font-icon';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    animation: sssr-bouncing-arrow 2s infinite;
}

.sssr__more-arrow:before {
    color: #616161;
    content: '\2304';
    font-size: 3.0em;
    line-height: 1.1;
}

@media screen and (max-width:479px) {
    .sssr__more {
        left: 50%;
        bottom: 0;
        margin: -2.1875em;
        position: absolute;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        width: 4.375em;
        height: 4.375em;
    }
    .sssr__more .sssr__more-arrow:before {
        font-size: 0.9em;
        line-height: 4.86111;
    }
}

@keyframes sssr-bouncing-arrow {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
