:block(menu):elem(item):mod(theme tags) {
    font-size: 14px;
    cursor: pointer;
    color: #0072ff;
    border-radius: 5px;
    background: #e5f1ff;
    text-decoration: none;
    border: none;
    outline: 0;
    position: relative;
    transition: none;
    text-transform: lowercase;
    display: inline-block;
    padding: 3px 11px;
    margin-bottom: 6px;
    margin-right: 6px;

    &:before {
        content: '# ';
        opacity: .5
    }

    &:block(menu):elem(item):mod(checked){
        background: #0072ff;
        color: #fff;

        &:before {
            content: '● ';
            opacity: 1;
        }
    }
}

