:block(header)
{
    position: fixed;
    z-index: 1;
    top: 0;

    display: flex;

    width: 100%;
    padding: 10px 2%;

    color: #333;
    background-color: #ecf0f1;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}
