.lost {
    box-sizing: border-box;
    zoom: 1;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* TODO: get rid of asterisk */
.lost,
.lost *,
.lost:before,
.lost:after
{
    box-sizing: border-box;
}

.lost:before {
    content: '';
    display: table;
}
.lost:after {
    content: '';
    display: table;
    clear: both;
}
.lost:last-of-type {
    margin-bottom: 0;
}
.lost__item {
    height: 100px;
    background: #f2f2f2;
}
.lost__item div {
    margin-top: 0;
    margin-bottom: 0;
}
.lost .lost__item {
    width: calc(99.99% * 1/1 - (3px - 3px * 1/1));
    height: auto;
    padding: 15px;
}
.lost .lost__item:nth-child(1n) {
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
    clear: none;
}
.lost .lost__item:last-child {
    margin-right: 0;
}
.lost .lost__item:nth-child(1n) {
    margin-right: 0;
    float: right;
}
.lost .lost__item:nth-child(1n + 1) {
    clear: left;
}
@media (min-width: 500px) {
    .lost .lost__item {
        width: calc(99.99% * 2/4 - (3px - 3px * 2/4));
        height: 200px;
    }
    .lost .lost__item:nth-child(1n) {
        float: left;
        margin-right: 3px;
        clear: none;
    }
    .lost .lost__item:last-child {
        margin-right: 0;
    }
    .lost .lost__item:nth-child(2n) {
        margin-right: 0;
        float: right;
    }
    .lost .lost__item:nth-child(2n + 1) {
        clear: left;
    }
}
@media (min-width: 800px) {
    .lost .lost__item {
        width: calc(99.99% * 2/6 - (3px - 3px * 2/6));
        height: 200px;
    }
    .lost .lost__item:nth-child(1n) {
        float: left;
        margin-right: 3px;
        clear: none;
    }
    .lost .lost__item:last-child {
        margin-right: 0;
    }
    .lost .lost__item:nth-child(3n) {
        margin-right: 0;
        float: right;
    }
    .lost .lost__item:nth-child(3n + 1) {
        clear: left;
    }
}
@media (min-width: 1100px) {
    .lost .lost__item {
        width: calc(99.99% * 2/8 - (3px - 3px * 2/8));
        height: 200px;
    }
    .lost .lost__item:nth-child(1n) {
        float: left;
        margin-right: 3px;
        clear: none;
    }
    .lost .lost__item:last-child {
        margin-right: 0;
    }
    .lost .lost__item:nth-child(4n) {
        margin-right: 0;
        float: right;
    }
    .lost .lost__item:nth-child(4n + 1) {
        clear: left;
    }
}
