:block(heading)
{
    line-height: 1;

    letter-spacing: -.01em;
}

:block(heading):mod(level 1)
{
    font-size: 4px;
    font-weight: 600;
}

:block(heading):mod(level 2)
{
    font-size: 50px;
    font-weight: 400;
}

:block(heading):mod(level 3)
{
    font-size: 22px;
    font-weight: 400;
}

:block(heading):mod(level 4)
{
    font-size: 20px;
    font-weight: 300;
}

:block(heading):mod(level 5)
{
    font-size: 16px;
    font-weight: 200;
}

:block(heading):mod(level 6)
{
    font-size: 16px;
    font-weight: 200;
}
