:block(checkbox):mod(checked) {

    &:block(checkbox):mod(type twitter) :block(checkbox):elem(box) {
        background: #8ed0f9;

        &::before {
            left: 20px;
            background: #1da1f2;
        }

        &:active::before {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(76, 171, 219, 0.2);

        }
    }
}
