.post {
    position: relative;
    width: 100%;
    height: 100%;
}

.post__footer {
    margin-top: 10px;
}

.post__user-name {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}

.post__user-name:hover {
    text-decoration: underline;
    color: #038543;
}

.post__time {
    font-size: 14px;
    display: inline-block;
    color: #8899a6;
}

.post__user-avatar {
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 30px;
    height: 30px;
}
